.footer{
   display: flex;
   width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 0.7em;
   background-color: #1976d2;
   color:white;
}

